*{
    margin: 0;
}
.main{
    width: 100%;
    background:url(https://s7g10.scene7.com/is/image/ktm/79-DUKE-Homepage-Image-M23:XLarge?wid=1914&hei=1078&dpr=off);
    background-position:center;
    background-size: cover;
    height: 800px;
    position: relative;

} 
.logo img{
    width: 100px;
    height: 100px;
    margin-left: 1350px;
    padding: 30px 15px;
    
}
body{
    margin: 0;
    padding: 0;
}
.box ul li{
    display: inline;
    padding: 10px;
    
    font-size: 17px;
}
.box a:hover{
    color: red;
}
ul li a{
    text-decoration:none;
    color: #fff;
}
.box{
    position: absolute;
    top: 90px;
}
.center{
    color: #fff;
    position: absolute;
    top: 250px;
    margin-left: 650px;
    font-size: 18px;
    font-style:normal;
    font-weight: 1000;
}
.center2{
    color: #fff;
    position: absolute;
    top: 300px;
    margin-left: 450px;
    font-size: 60px;
    font-style:normal;
    font-weight: 1000;
}
button{
     margin-left: 200px;
     font-size: 15px;
     padding: 25px 8px;
     background-color: #f60;
}
button a{
    text-decoration:none;
    color: #fff;
}
button:hover{
    background-color: transparent;
}
.brand{
     position: absolute;
     margin-top: 50px;
     margin-left: 550px;
     font-size: 35px;
     font-weight: 800;
     color:black;
     font-style:normal;
}
.CONFIGURATOR{
 margin-top: 190px;
 margin-left: 400px;
 border: none;

}
.Explore{
    margin-top: 190px;
    margin-left: 410px;
    border: none;
}
.image img{
    width: 100%;
    position: relative;
    
}
.last ul li a{
    color: black;

}
.last p{
    font-size: large;
    font-weight: 1000;
    margin-left: -20px;
}
.last{
    display:inline-block;
    width: 300px;
    vertical-align: top;
    margin-top: 10px;
    padding: 32px 16px;
}

.border{
    background-color: red;
}
.last a:hover{
    color:#fff;
}
.image2{
    width: 50%;
    height: 360px;
    padding: 16px 32px;
    display: flex;
}
.image2 img{
    margin-left: 10px;

}
